// font import and base styling elements

$red: #ff0202ff;
$silver: #c4c4c4ff;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// global styling
// reset margin & padding
* {
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    border: solid 0.5px black;
}

body {
    font-family: 'Bebas Neue', cursive;
    background-image: url("..//img/memphis-mini.png");
    background-repeat: repeat;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

// button styling with media query for adaptive button width

.button {
    width: 90px; //used px to keep the button size
    height: 45px;
    background-color: #fff;
    border: solid 0.5px rgb(192, 192, 192);
    border-radius: 45px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1); //shadow px just look better - everything else messes up the design
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: $red;
    box-shadow: 0px 4px 12px $silver; //shadow px just look better - everything else messes up the design
    color: white;
    transform: translateY(-3px);
    a{
        color: white;
    }
  }

@media screen and (min-width: 481px) and (max-width: 768px) {
    .button {
        width: 120px; //used px to keep the button size
    }
}

@media screen and (min-width: 769px) {
    .button {
        width: 130px; //used px to keep the button size
    }
}

// header styling with media query for adaptive logo

header {
    background-image: url("..//img/memphis-mini.png");
}

.logo {
    h1{
        letter-spacing: 8px;
        height: 45px; //used px to keep the logo design constant
    }
}

.navstandard, .navmobile {
    ul {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .logo {
        h1{
            height: 60px; //used px to keep the logo design constant
        }
    }
}

@media screen and (min-width: 769px) {
    .logo {
        h1{
            height: 80px; //used px to keep the logo design constant
        }
    }
}

//hero section styling

.hero {
    height: 140vw;
    padding-bottom: 50vw;
    margin-bottom: 5%;
    color: white;
    background-image: url("https://images.unsplash.com/photo-1576409664823-71e5e0ffc7f0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
    b{
        color: $red;
    }
}

.heroscroll {
    height: 30vw;
    color: $silver;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .hero {
        height: 50vw;
        padding-bottom: 11vw;
    }
}

@media screen and (min-width: 769px) {
    .hero {
        height: 40vw;
        padding-bottom: 10vw;
    }
}

//article styling

article {
    img {
        width: 100%;
        height: 300px; //used px to keep the img height constant while fitting the width to the container
        object-fit: cover;
        object-position: 50% 50%;
        }
    p {
        color: grey;
    }
}

// Review section carousel img styling

// .carousel-inner > .carousel-item > img {
//     width: 200px !important;//used px to keep the img height constant while fitting the width to the container
// }

.img-text {
    width: 100%;
    height: 90%;
    display: block;
    text-align: center;
    padding: 50px 50px;
    background: #262626;
    color: #fff;
    border-radius: 15px;
}

.single-box {
    margin-bottom: 30px;
}

.img-area {
    width: 100px;
    height: 100px;
    margin-bottom: -40px;
    z-index: 1000;
    border: 5px solid #fff;
    overflow: hidden;
    border-radius: 50%;
    img {
        width: 100%;
    }
}

//footer styling

address {
    margin-bottom: 70px;
}

.navmobile {
    background-image: url("..//img/memphis-mini.png");
}